

html {
    font-family: 'Playfair Display', serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    height: 100%;
}

img {
    width: 100%;
}
header {
    text-align : center;
    text-transform: uppercase;
}

header h1 {
    font-size: 2em;
}

h3 {
    margin-bottom: 2.5em;
}

.interstice {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    padding: 0.5em;
}

footer {
    border-top: 1px solid #000;
    margin-top: 1em;
    text-align: center;
    padding: 0.5em;
}

section {
    width: 33%;
    float:left;
    padding: 1.5em 0;
    text-align: justify;
    min-height: 100%;
}

#middle-section {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

section p, section div{
    padding: 1em;
}

section > p:nth-of-type(1){
    text-indent: 5%;
}

section h3 {
    text-align: center;
}

.clear {
    clear: left;
}

.author {
    font-style: oblique;
    text-align: right;
}